{% assign base_url = site.baseurl | default: "" %}

<footer class="bg-gray-800">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="{{ site.url }}" class="flex items-center">
          <img src="{% if site.logo contains 'http' %}{{ site.logo }}{% else %}{{ site.baseurl }}/{{ site.logo }}{% endif %}" class="h-8 me-3" alt="{{ site.title }} Logo">
          <span class="self-center text-1xl font-semibold whitespace-nowrap text-white">{{ site.title }}</span>
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">Quick Links</h2>
          <ul class="text-gray-400 dark:text-gray-400 font-medium">
            {% for resource in site.resources %}
              <li class="mb-4">
                <a href="{{base_url}}/{{ resource.url }}" class="hover:text-white text-gray-400 transition-colors duration-300">{{ resource.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">Legal</h2>
          <ul class="text-gray-400 dark:text-gray-400 font-medium">
             {% for policy in site.policys %}
              <li class="mb-4">
                <a href="{{base_url}}/{{ policy.url }}" class="hover:text-white text-gray-400 transition-colors duration-300">{{ policy.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <!----<div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">Legal</h2>
          <ul class="text-gray-400 font-medium">
            <li class="mb-4">
              <a href="{{base_url}}/{{ site.privacy_policy }}" class="hover:text-white text-gray-400 transition-colors duration-300">Privacy Policy</a>
            </li>
            <li>
              <a href="{{base_url}}/{{ site.terms_conditions }}" class="hover:text-white text-gray-400 transition-colors duration-300">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>--->
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-400 sm:text-center">
        © {{ site.time | date: '%Y' }} <a href="{{ site.url }}" class="hover:underline">{{ site.title }}</a>. All Rights Reserved.
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
{% for social in site.social %}
  <a href="{{ social.url }}" class="hover:text-white text-gray-400 transition-colors duration-300 ms-5" aria-label="{{ social.name }}">
    <i class="{{ social.icon }} w-4 h-4 font-display-swap" aria-hidden="true"></i>
    <span class="sr-only">{{ social.name }}</span>
  </a>
{% endfor %}
      </div>
    </div>
  </div>
</footer>
