<!--BROWSER-SIZE:1800,710-->
<link rel="stylesheet" type="text/css" href="https://rsms.me/inter/inter.css">
<style>
  body {
    overflow:hidden;
  }
  #container {
  font-family: 'Inter';
  max-width: 1200px;
  min-height: 700px;
   float:left;
    
}
#test {
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  z-index:-1;
 
   
    width: 50%;
    min-height: 600px;
  
 float:right;
}


</style>  
<section id="container" class="flex flex-col justify-between p-12 bg-gray-900"><link rel="stylesheet" type="text/css" href="  https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">


  <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-100">github.com/MarketingPipeline</h2>
  
  <h1 class="text-6xl font-extrabold tracking-tight text-gray-100">
    Generate a image via GitHub Actions</h1>
  
  <footer class="text-gray-300 text-xl font-medium">
    Useful for open graph images or repo banner images & more!
  </footer>
 
</section>
 <div>
  <img id="test" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/dog.jpg" alt="A black, brown, and white dog wearing a kerchief">
  </div>
