{% assign base_path = "/categories" %}
{% if page.url contains '/blog' %}
  {% assign base_path = "/blog/categories" %}
{% elsif page.url contains '/exhibits' %}
  {% assign base_path = "/exhibits/categories" %}
{% endif %}

<div class="flex flex-wrap mt-2 gap-2">
  {% for category in page.categories limit:3 %}
    <a href="{{ site.baseurl }}{{ base_path }}/{{ category | slugify }}/"
       class="bg-blue-100 text-blue-800 dark:bg-blue-200 dark:text-blue-900 hover:bg-blue-200 dark:hover:bg-blue-300 px-3 py-1 rounded-full text-sm font-medium transition">
      {{ category }}
    </a>
  {% endfor %}
</div>
