---
layout: default
---
{% include base_path %}



{% assign base_url = site.baseurl | default: "" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ page.title }} by {{ page.author }} | {{site.title}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

      <!-- Custom Styles -->
  <style>
    .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://img1.wsimg.com/isteam/ip/72bd652d-031b-4cff-ac67-358b94057a77/CREDITON%20CEMETERY.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:400,cg:true/qt=q:55);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 40vh;
    }
  </style>
</head>
<body class="bg-gray-100 font-sans">
  <!-- Navigation -->
{% include navigation.html %}


<!-- Hero Section -->
<section class="flex items-center justify-center hero-image text-center text-white">
  <div class="px-4 container mx-auto">
    <h1 class="font-bold text-4xl mb-4 md:text-6xl">{{ page.title }}</h1>
    <p class="mb-8 md:text-2xl text-xl"> by {{ page.author }}</p>
  </div>
</section>


  <!-- Breadcrumbs -->
  <!-- Breadcrumbs -->
<nav class="w-full px-4 py-3 flex justify-between items-center" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
     
      <li class="inline-flex items-center">
        <a href="{{ site.baseurl }}/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
          <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"></path>
          </svg>
          Home
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
          </svg>
          <a href="{{ site.baseurl }}/resources/" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Resources</a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
          </svg>
          <a href="{{ site.baseurl }}/resources/books/" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Books</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
          </svg>
          <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400 current-page-name">{{page.title}}</span>
        </div>
      </li>
    </ol>


  
</nav>

<!-- Review Section -->
<section class="bg-white py-12">
  <div class="px-4 container mx-auto max-w-4xl">
    <h2 class="text-3xl font-bold text-gray-800 mb-6"><i>{{ page.title }}</i> by {{ page.author }}</h2>

    {% assign content = page.content | strip_newlines %}

    {% if content == "" %}
      <div class="flex flex-col sm:flex-row items-start sm:items-center">
        {% if page.cover %}
          <figure class="sm:mr-6 mb-6 sm:mb-0 w-64 mx-auto sm:mx-0">
            <img class="rounded shadow-md" alt="{{ page.title }} cover" onerror="this.onerror=null; this.src='https://openlibrary.org/images/icons/avatar_book-sm.png';" src="{{ site.baseurl }}/images/covers/{{ page.cover }}" />
            <figcaption class="text-center text-sm text-gray-600 mt-2">Cover of <em>{{ page.title }}</em></figcaption>
          </figure>
        {% elsif page.olid %}
          <figure class="sm:mr-6 mb-6 sm:mb-0 w-64 mx-auto sm:mx-0">
            <img class="rounded shadow-md" alt="{{ page.title }} cover" onerror="this.onerror=null; this.src='https://openlibrary.org/images/icons/avatar_book-sm.png';" src="http://covers.openlibrary.org/b/olid/{{ page.olid }}-L.jpg?default=false" />
            <figcaption class="text-center text-sm text-gray-600 mt-2">Cover of <em>{{ page.title }}</em> on the <a class="underline text-blue-600" href="https://openlibrary.org/olid/{{ page.olid }}">Open Library</a>.</figcaption>
          </figure>
        {% elsif page.isbn %}
          <figure class="sm:mr-6 mb-6 sm:mb-0 w-64 mx-auto sm:mx-0">
            <img class="rounded shadow-md" alt="{{ page.title }} cover" onerror="this.onerror=null; this.src='https://openlibrary.org/images/icons/avatar_book-sm.png';" src="http://covers.openlibrary.org/b/isbn/{{ page.isbn }}-L.jpg?default=false" />
            <figcaption class="text-center text-sm text-gray-600 mt-2">Cover of <em>{{ page.title }}</em> on the <a class="underline text-blue-600" href="https://openlibrary.org/isbn/{{ page.isbn }}">Open Library</a>.</figcaption>
          </figure>
        {% endif %}
      </div>

    {% else %}
      <div class="flex flex-col sm:flex-row items-start sm:items-start">
        {% if page.cover %}
          <figure class="sm:mr-6 mb-6 sm:mb-0 w-64 mx-auto sm:mx-0">
            <img class="rounded shadow-md" alt="{{ page.title }} cover" onerror="this.onerror=null; this.src='https://openlibrary.org/images/icons/avatar_book-sm.png';" src="{{ site.baseurl }}/images/covers/{{ page.cover }}" />
            <figcaption class="text-center text-sm text-gray-600 mt-2">Cover of <em>{{ page.title }}</em></figcaption>
          </figure>
        {% elsif page.olid %}
          <figure class="sm:mr-6 mb-6 sm:mb-0 w-64 mx-auto sm:mx-0">
            <img class="rounded shadow-md" alt="{{ page.title }} cover" onerror="this.onerror=null; this.src='https://openlibrary.org/images/icons/avatar_book-sm.png';" src="http://covers.openlibrary.org/b/olid/{{ page.olid }}-L.jpg?default=false" />
            <figcaption class="text-center text-sm text-gray-600 mt-2">Cover of <em>{{ page.title }}</em> on the <a class="underline text-blue-600" href="https://openlibrary.org/olid/{{ page.olid }}">Open Library</a>.</figcaption>
          </figure>
        {% elsif page.isbn %}
          <figure class="sm:mr-6 mb-6 sm:mb-0 w-64 mx-auto sm:mx-0">
            <img class="rounded shadow-md" alt="{{ page.title }} cover" onerror="this.onerror=null; this.src='https://openlibrary.org/images/icons/avatar_book-sm.png';" src="http://covers.openlibrary.org/b/isbn/{{ page.isbn }}-L.jpg?default=false" />
            <figcaption class="text-center text-sm text-gray-600 mt-2">Cover of <em>{{ page.title }}</em> on the <a class="underline text-blue-600" href="https://openlibrary.org/isbn/{{ page.isbn }}">Open Library</a>.</figcaption>
          </figure>
        {% endif %}

        <div class="flex-1">
          <div class="prose max-w-none text-gray-800">
           <p><strong>ISBN:</strong> {{ page.isbn | default: "Unknown" }}</p>
           <p><strong>Open Library ID:</strong> {{ page.olid | default: "Unknown" }}</p>
           <p><strong>Author(s):</strong> {{ page.author | default: "Unknown" }}</p>
           <p><strong>Published:</strong> {{ page.year | default: "Unknown" }}</p>
            <p><strong>Description:</strong></p>
            <blockquote>{{ content }}</blockquote>
          </div>
          <div class="mt-2 container mx-auto max-w-4xl">
    
    
{% assign is_external = false %}

{% if page.pdfFile %}
  {% if page.pdfFile contains 'http://' or page.pdfFile contains 'https://' %}
    {% assign is_external = true %}
  {% endif %}
{% endif %}
<a id="read-more"
   target="_blank"
   rel="noopener noreferrer"
   class="inline-block text-white bg-green-700 hover:bg-green-900 font-bold px-6 py-2 rounded transition duration-300"
   href="{% if is_external %}{{ page.pdfFile }}{% else %}{{ base_url }}/resources/books/{{ page.pdfFile }}{% endif %}">
   View Book
   <i class="fas fa-external-link-alt ml-2"></i>
</a>
  </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>


<!-- Footer -->
{% include footer.html %}


</body>
</html>
